.home-page {
  height: 100vh;
}

.home-page .header {
  height: 10vh;
  padding: 1rem;
  text-align: left;
  box-sizing: border-box;
}

.home-page .main {
  height: 90vh;
}

.guesses-container {
  width: 100%;
  height: 90vh; 
  background-color: rgb(var(--accent-rgb));
  padding: 2rem;
  box-sizing: border-box;
  text-align: left;
  overflow-y: auto;
}

.guesses-container h1 {
  margin: 0 0 0.5rem 0;
}

.guesses-container p {
  margin: 0.4rem 0;
}

.input-container {

  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem; 
  left: 26%;
  z-index: 2;

  height: 3rem;
  background-color: azure;
  display: flex;
  flex-direction: row;
  border:1px solid grey;
  border-radius: 6px;
}
.input-container:focus-within {
  outline: 2px solid rgb(var(--secondary-rgb));
  border-color: rgba(0, 0, 0, 0);
}

.input-container input[type="text"] {
  border: none; 
  resize: none;
  flex: 1;
}
.input-container input[type="text"]:focus {
  outline: none;
}

.input-container input[type="submit"] {
  border: 0; 
  min-width: 4rem;
  font-size: xx-large;
  background-color: rgb(var(--secondary-rgb));
  border-radius: 0 6px 6px 0;
  cursor: pointer;
  color: #fff;
}

.input-container input[type="submit"]:disabled {
  background-color: gray;
}

.input-container input[type="submit"]:hover:not([disabled]) {
  background-color: rgb(var(--secondary-alt-rgb));
}

.select-puzzle {
  background-color: rgb(var(--primary-rgb));
  padding: 1rem 0 1rem 1rem;
  box-sizing: border-box;
  overflow-y: auto;
  direction: rtl;
}

@media (max-width: 768px) {

  .home-page {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .home-page .header {
    height: fit-content;
    text-align: center;
  }
  .home-page .header h1 {
    font-size: large;
  }

  .home-page .main {
    flex: 1;
    height: auto;
  }

  .select-puzzle {
    height: 8rem;
    padding: 1rem;
  }

  .guesses-container {
    height: 100%;
  }

  .input-container {
    left: 0.5rem;
    padding: 0;
  }

  .home-page .header h1 {
    margin: auto;
  }
}